.citat__movie {
  font-style: italic;
  text-align: right;
}

.citaty__element {
  width: 300px;
  float: right;
  margin-right: 20px;
  position: absolute;
  right: 0;
  bottom: 13%;
}

@media screen and (max-width: 640px) {
  .citaty__element {
    display: none;
  }
}
