body {
  background-image: linear-gradient(#4f90a5, #204653);
  background-size: 100vw 150vh;
  color: white;
}

h3 {
  text-align: center;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  color: black;
  padding: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.content {
  width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
}

.container {
  margin: 0 auto;
  background-image: url(../../img/43691.jpg);
  background-repeat: no-repeat;
  height: 700px;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  color: black;

  text-align: center;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}
