header {
  margin-top: 0;
}

.menu ul {
  padding: 10px 10px;
  margin: 0;
}

.menu li {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4f90a5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #58a1b9;
}

.menu li:hover .dropdown-content {
  display: block;
}
